/*AQUA PIXEL TEXT*/
.text{
  position: relative;
  text-align: center;
  top: 20vh;
  font-family: 'VT323', monospace;
  font-size: 3vw;
  color: #00ded6;
}
/*MOUTH*/
#mouth{
  position: relative;
  display: block;
  margin: auto;
  width: 40%;
  top: 100px;
}

#mouthclick{
  display: block;
  height: 10vh;
  width: 10vw;
  z-index: 2;
  position: absolute;
  top: 40vh;
  left: 45vw;
}

#mouthclick:hover + #mouth{
  content: url("images/mouth2.png");
}

/*UVULA*/
#uvula{
  position: relative;
  display: block;
  margin: auto;
  width: 40%;
  top: 100px;
}

#uvulaclick{
  display: block;
  height: 9vh;
  width: 9vw;
  z-index: 2;
  position: absolute;
  top: 30vh;
  left: 45vw;
}

#uvulaclick:hover + #uvula{
  content: url("images/uvula2.png");
}

/*THROAT/ESOPHAGUS*/
#throat{
  position: relative;
  display: block;
  margin: auto;
  width: 40%;
  top: 100px;
}

#throatclick{
  display: block;
  height: 10vh;
  width: 10vw;
  z-index: 2;
  position: absolute;
  top: 60vh;
  left: 45vw;
}

#throatclick:hover + #throat{
  content: url("images/throat2.png");
}

/*STOMACH*/
#stomach{
  position: relative;
  display: block;
  margin: auto;
  width: 40%;
  top: 100px;
}

#stomachclick{
  display: block;
  height: 10vh;
  width: 10vw;
  z-index: 2;
  position: absolute;
  top: 22vh;
  left: 30vw;
}

#stomachclick:hover + #stomach{
  content: url("images/stomach2.png");
}

/*SMALL INTESTINE*/
#small{
  position: relative;
  display: block;
  margin: auto;
  width: 40%;
  top: 100px;
}

#smallclick{
  display: block;
  height: 10vh;
  width: 10vw;
  z-index: 2;
  position: absolute;
  top: 32vh;
  left: 55vw;
}

#smallclick:hover + #small{
  content: url("images/small2.png");
}

/*LARGE INTESTINE*/
#large{
  position: relative;
  display: block;
  margin: auto;
  width: 40%;
  top: 100px;
}

#largeclick{
  display: block;
  height: 10vh;
  width: 10vw;
  z-index: 2;
  position: absolute;
  top: 60vh;
  left: 45vw;
}

#largeclick:hover + #large{
  content: url("images/large2.png");
}

/*TOILET/ENDING*/
#toilet{
  position: relative;
  display: block;
  margin: auto;
  width: 40%;
  top: 100px;
}

#toiletclick{
  display: block;
  height: 10vh;
  width: 10vw;
  z-index: 2;
  position: absolute;
  top: 35vh;
  left: 46vw;
}

#toiletclick:hover + #toilet{
  content: url("images/toilet2.png");
}

#homelink{
font-size: 2.25vw;
color: #00ded6;
}

#homelink:visited{
  font-size: 2.25vw;
  color: #00ded6;}

#homelink:hover{
  color: #14a69a;
}
